.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.sidebar-logo-img {
  width: 70%;
  height: auto;
  object-fit: contain;
}

.sidebar-nav {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.sidebar-main-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-logout {
  margin-top: 8rem; /* Ini yang bikin Logout agak di bawah, tapi tidak terlalu */
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #555;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-size: 15px;
}

.nav-item:hover,
.nav-item.active {
  background-color: #dbeafe;
  color: #2563eb;
  font-weight: 600;
}
