.right-container {
  flex: 1;
  height: 100vh;
  background: linear-gradient(360deg, #e0f7fa, #ffffff); /* warna background */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* supaya gambar tetap di dalam div */
}

.bg-image {
  width: 95%;
  height: 95%;
  object-fit: cover;
  /* border-radius: 20px !important;  */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);  */
}
